{% extends 'common/main.html' %}

{% block content %}

{% include 'mood_tracker/statistics.html' %}

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<h5>Last Days Registers &nbsp;
				<a class="btn btn-sm btn-info" style="width: fit-content;"
				href=""> <i class="far fa-edit"></i> Register mood</a>
			</h5>
			<div class="card card-body" >

				{% if not moods %}
					<h6>No moods registered yet...</h6>
				{% else %}
					<table class="table table-sm">
						<tr>
							<th>Date</th>
							<th>Day of the week</th>
							<th style="text-align: center;">Moods registered</th>
							<th style="text-align: center;">Avg Rate</th>
						</tr>
						{% for mood in moods %}
							<tr>
								<td>{{mood.day_date}}</td>
								<td>{{mood.day_week}}</td>
								<td style="text-align: center;">{{mood.total_moods}}</td>
								<td style="text-align: center;">{{mood.avg_rate}}</td>
							</tr>
						{% endfor %}
					</table>
					<a class="btn btn-sm btn-info" style="width: fit-content;"
					   href=""> <i class="fa fa-eye"></i> View all moods...</a>
				{% endif %}

			</div>
		</div>
	</div>
</div>

{% endblock %}
