{% extends 'common/main.html' %}

{% block content %}

{% include 'mood_tracker/statistics.html' %}

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
		<h5>Last Moods</h5>
		<div class="card card-body" >
			
			<table class="table table-sm">
				<a class="btn btn-sm btn-info" style="width: fit-content;"
				   href="">
					<i class="far fa-edit"></i> Register mood
				</a>
				<tr>
					<th>Date</th>
					<th>Emotion</th>
					<th>Rate</th>
				</tr>

				{% if not moods %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				{% endif %}
                
				{% for mood in moods %}
					<tr>
						<td>{{ mood.day_date }}</td>
						<td>{{ mood.emotion}}</td>
						<td>{{ mood.reaction_rate }}</td>
					</tr>
                {% endfor %}
				
		
			</table>

		</div>
	</div>
	</div>

	

</div>

{% endblock %}
