{% extends 'core/main.html' %}

{% block content %}

{% load static %}

<br>

<div class="row">

	<div class="col">
			<div class="card text-center mb-3" id="statistics">
					<div class="card-header">
						<h5 style="margin-bottom: -4px;">Statistics</h5>
					</div>

					<div class="card-body" style="margin-bottom: -32px; margin-top: -15px">
						<dl>
							<dt>Days registered: {{days_registered}}</dt>
							<dt>😎 <a class="">Best day</a></dt>
							<dt>😭 <a class="">Worst day</a></dt>
						</dl>
					</div>
			</div>
	</div>


</div>




{% endblock %}