<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="avg-rates">
			  	<div class="card-header">
			  		<h5 class="card-title">Avg Rate</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{avg_rate}}/5</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="achievements">
			  	<div class="card-header">
			  		<h5 class="card-title">Achievements</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{achievements}}/??</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="statistics">
			  	<div class="card-header">
			  		<h5 class="card-title">Statistics</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">5/10</h3>
                    <p>Best day</p>
                    <p>Worst day</p>
                    <p>Days registered</p>
                    <p>Avg month</p>
			  	</div>
			</div>
		</div>
	</div>

</div>
