/* Main style */
.main-background {background-color: #e4ecf1;}

/* Display information style */
.margins-data {
    margin: 1px;
}

/* Navbar style */
.navbar-custom {
    background-color: #563d7c !important;

}

.div-nav-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-circle {
    padding: 13px 18px;
    font-size: 17px;
    text-align: center;
    color: whitesmoke !important;
}
li.nav-item:hover {
    color: whitesmoke !important;
    text-decoration: none !important;
    border-radius: 10px;
    background-color: rgb(176, 127, 255);
}

span.nav-item:hover {
    color: whitesmoke !important;
    text-decoration: none !important;
    border-radius: 10px;
    background-color: rgb(176, 127, 255);
}


/* Statistics cards style */
#avg-rates{ background-color: #e9afdd; margin-left: 11px;}
#achievements{ background-color: #f6e866; margin-right: 11px;}
#statistics{ background-color: #b8dbe2; margin-right: 11px;}


/* Chart JS style */


