/* Main style -> #2f2f31*/
.main-background {background-color: #303030;}

.main-titles {color: whitesmoke;}


/* Navbar style */
.navbar-theme{
    background-color: #563d7c !important;
}

.div-nav-margin {
    margin-left: 5px;
    margin-right: 5px;
}
.user-button{ 
    color: whitesmoke;
    font-size: 15px;
    margin-right: 15px;
}
.btn-circle {
    padding: 13px 18px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    color: whitesmoke !important;
}
li.nav-item, .span.user-button a:hover {
    color: whitesmoke !important;
    text-decoration: none !important;
}





/* Statistics cards style */
.statistics-card{
    color: 'black';
}


#avg-rates{
    background-color: #ec7dd0;
}

#achievements{
    background-color: #ecc97d;
}

#statistics{
    background-color: #99c1cf;
}



/* Chart JS style */


